html {
  font-size: $base-font-size;
  font-family: $font-family;
}

h1 {
  font-size: 1.5rem;
}

.header {
  &__title {
    color: $color-primary;
    margin: 2 * $main-spacing 0 10px;
  }

  &__description {
    color: $color-secondary;
    padding: 0 $main-spacing;
    text-align: center;
  }
}
